<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <title>Personal Movie Recommendations</title>
    </head>
    <!--Navigation bar-->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="color: #204e6d; font-weight: bold;">
                    Movie Recommendations
                </a>
            </div>
        </div>
    </nav>
    

    <body>
    <!--Render Movie list as card columns here -->
    <div class="container">
        <div class="card-columns">
            <!--For each movie in the movie list, add a movie card-->
            {% for movie in movie_list %}
            <div class="col-auto mb-3">
                <div class="card">
                    <!--Movie Poster image-->
                    <img class="card-img-left" 
                         src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}" 
                         width="320" height="480">
                    <div class="card-body bg-light">
                        <!--Movie title-->
                        <h5 class="card-title">{{movie.original_title}}</h5>
                        <!--Movie overview-->
                        <p class="card-text">{{movie.overview}}</p>
                        <!--Movie genres-->
                        <p class="card-text">Genres: <b>{{movie.genres}}</b></p>
                        <!--Movie vote average-->
                        <p class="card-text">Rating: <b>{{movie.vote_average}}</b></p>
                        <!--Movie language and release date-->
                        <p class="card-text">{{movie.original_language}}, {{movie.release_date}}</p>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="watched_{{ movie.id }}" onclick="updateWatchedStatus('{{ movie.id }}')">
                            <label class="form-check-label" for="watched_{{ movie.id }}">Watched</label>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    Movies to be shown here!
    </body>

</html>
<script>
    function updateWatchedStatus(movieId) {
        var isChecked = $('#watched_' + movieId).prop('checked');
        console.log('Updating watched status for movie ID:', movieId);
        $.ajax({
            type: 'POST',
            url: '/update_watched_status/',  // Replace with your Django view URL
            data: {
                'movie_id': movieId,
                'watched': isChecked
            },
            success: function (data) {
                // Reload the page upon successful update
                location.reload();
            },
            error: function (xhr, status, error) {
                console.error('Error updating watched status:', error);
            }
        });
    }
</script>

